table, th, td {
   /* // border:1px solid black; */
    margin-left: auto;
  margin-right: auto;
    font-family: "Source Code Pro";
 }
 tr{
  border: 1px solid lightgray;
 }
 td{
  padding-top: 6px;
  padding-bottom: 6px;
 }
 table{
  border-bottom: 1px solid lightgray;
 }

 span{
  border-radius: 5px;
  padding: 2px;
  
 }

th{
  text-align: left;
  padding-bottom: 10px;
}

 #container{
   display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
 }
 #description{

    width: 50%;
   text-align: center;
   font-family:Arial, Helvetica, sans-serif;
    }

 h2{
   padding-top: 20px;
   text-align: center;
   font-family: "Source Code Pro";
   font-weight: bold;
font-size:x-large;}

 
 .footer {
   padding-top: 20px;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
   font-family: "Source Code Pro";
 }
 
